
.autoassign-btn{
  margin: 40px 0 30px 20px;
  padding: 5px 10px; 
  font-family: 'Rubik', sans-serif;
  background: #ffffff;
  color: #4156A6;
  border-color: #4156A6;
  border-width: 2px;
  border-radius: 5px;
}
.autoassign-btn:hover{
  cursor: pointer;
  background: #4156A6;
  color: #ffffff;
}
.autoassign-btn.left{
  margin-left: 50px;
  margin-right: 0;
}
.autoassign-btn.right{
  margin-left: 10px;
}
.assign-tabs{
  margin: 30px 15px;
  font-family: 'Rubik', sans-serif;
}
.assign-tab{
  font-family: 'Rubik', sans-serif;
}
.assign-card-title{
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  color: #4156A6;
}
.card{
  border: none !important;
}
.table-btn.assign{
  padding-top: 3px;
  padding-bottom: 3px;
}
